body{
    font: 20px;
}
.navbar{
    background-color: #0090C8;
}

.que-somos{
    background-color: white;
    color: black;
}

.margin{
    padding-bottom: 30px;
    padding-top: 10px;
}

.socios{
    background-color: #0090C8;
    color: black;
    
}
.bg-footer{
    background-color: black;
    color: white;
}
.space{
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.nav-link{
    margin-top: 47px;
    font-size: 15px;
}
